* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100vh;
  background-position: center;
  background-color: #000000;
  background-image: url("../images/background9.jpg");
}

.navigator {
  position: absolute;
  transform: translate(1660px, 100px);
  border: 2px solid slateblue;
  border-radius: 16px;
  font-size: 10px;
  padding: 6px;
  background-color: linear-gradient(left, #cc5b5b, #6060a8, #229ca5);
  cursor: pointer;
}

.navigator a {
  text-decoration: none;
  color: aqua;
}

.box {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -65%);
  padding: 6px;
  border: 3px solid #14f0e5;
  border-radius: 30px;
  transition: border 1s;
}

.logo img {
  position: absolute;
  width: 250px;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -20%);
  -webkit-animation: logo-anim 1.5s forwards ease-in-out;
          animation: logo-anim 1.5s forwards ease-in-out;
  cursor: pointer;
}

#button {
  width: 250px;
}

#logo-txt path:nth-child(2) {
  stroke-dasharray: 503.2843933105px;
  stroke-dashoffset: 503.2843933105px;
  -webkit-animation: line-anim 2s forwards ease-in-out 1.5s;
          animation: line-anim 2s forwards ease-in-out 1.5s;
}

#logo-txt path:nth-child(3) {
  stroke-dasharray: 343px;
  stroke-dashoffset: 343px;
  -webkit-animation: line-anim 2s forwards ease-in-out 2.3s;
          animation: line-anim 2s forwards ease-in-out 2.3s;
}

#logo-txt path:nth-child(4) {
  stroke-dasharray: 164px;
  stroke-dashoffset: 164px;
  -webkit-animation: line-anim 2s forwards ease-in-out 2.6s;
          animation: line-anim 2s forwards ease-in-out 2.6s;
}

#logo-txt path:nth-child(5) {
  stroke-dasharray: 265.9518432617px;
  stroke-dashoffset: 265.9518432617px;
  -webkit-animation: line-anim 2s forwards ease-in-out 2.9s;
          animation: line-anim 2s forwards ease-in-out 2.9s;
}

#logo-txt path:nth-child(6) {
  stroke-dasharray: 343px;
  stroke-dashoffset: 343px;
  -webkit-animation: line-anim 2s forwards ease-in-out 3.2s;
          animation: line-anim 2s forwards ease-in-out 3.2s;
}

#logo-txt path:nth-child(7) {
  stroke-dasharray: 374px;
  stroke-dashoffset: 374px;
  -webkit-animation: line-anim 2s forwards ease-in-out 3.5s;
          animation: line-anim 2s forwards ease-in-out 3.5s;
}

#logo-txt path:nth-child(8) {
  stroke-dasharray: 343px;
  stroke-dashoffset: 343px;
  -webkit-animation: line-anim 2s forwards ease-in-out 3.8s;
          animation: line-anim 2s forwards ease-in-out 3.8s;
}

#logo-txt path:nth-child(9) {
  stroke-dasharray: 279px;
  stroke-dashoffset: 279px;
  -webkit-animation: line-anim 2s forwards ease-in-out 4.1s;
          animation: line-anim 2s forwards ease-in-out 4.1s;
}

#logo-txt path:nth-child(10) {
  stroke-dasharray: 406px;
  stroke-dashoffset: 406px;
  -webkit-animation: line-anim 2s forwards ease-in-out 4.4s;
          animation: line-anim 2s forwards ease-in-out 4.4s;
}

#logo-txt path:nth-child(11) {
  stroke-dasharray: 343px;
  stroke-dashoffset: 343px;
  -webkit-animation: line-anim 2s forwards ease-in-out 4.7s;
          animation: line-anim 2s forwards ease-in-out 4.7s;
}

#logo-txt path:nth-child(12) {
  stroke-dasharray: 281px;
  stroke-dashoffset: 281px;
  -webkit-animation: line-anim 2s forwards ease-in-out 5s;
          animation: line-anim 2s forwards ease-in-out 5s;
}

#logo-txt path:nth-child(13) {
  stroke-dasharray: 243px;
  stroke-dashoffset: 243px;
  -webkit-animation: line-anim 2s forwards ease-in-out 5.3s;
          animation: line-anim 2s forwards ease-in-out 5.3s;
}

.tom svg path {
  -webkit-animation: fill 0.5s forwards ease-in 3.5s;
          animation: fill 0.5s forwards ease-in 3.5s;
}

@-webkit-keyframes line-anim {
  to {
    stroke-dashoffset: 0px;
  }
}

@keyframes line-anim {
  to {
    stroke-dashoffset: 0px;
  }
}
@-webkit-keyframes logo-anim {
  from {
    opacity: 0;
    transform: translate(-50%, -40%) rotate(100deg);
  }
  to {
    opacity: 1;
    transform: translate(-50%, 50%) rotate(0deg);
  }
}
@keyframes logo-anim {
  from {
    opacity: 0;
    transform: translate(-50%, -40%) rotate(100deg);
  }
  to {
    opacity: 1;
    transform: translate(-50%, 50%) rotate(0deg);
  }
}
.box:hover {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -65%);
  padding: 6px;
  border: 3px solid #d32b2b;
  border-radius: 30px;
  transition: border 1s;
}/*# sourceMappingURL=style.css.map */