*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    //color: rgb(32, 47, 180);
    font-family: 'Poppins', sans-serif;
}

.container{
    height: 100vh;
    
    h2{
        color: darkslategray;
    }
    
}

nav{
    position: absolute;
    display: flex;
    padding: 3rem 10rem;
    justify-content: space-between;
    width: 100%;
   
}

nav h4{
  color: cornflowerblue;

}

a{
    color: crimson;
    text-decoration: none;
    list-style: none;
}

.container img{
    width: 100%;
    position: absolute;
    height: 150vh;
    object-fit: cover;
    z-index :-1;
}
.main-title{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 6rem;
    transform: translate(-50%, -50%);
}

.content{
    width: 100%;
    background: rgb(7, 7, 7);
    min-height: 100vh;
    z-index: 2;
    position: absolute;
    background-image: url("../images/bat2.jpg");
        h4{
            color: white;
            font-style: oblique;
        }
        h3{
            color: white;
        }
       
           
            p{
                color: rgb(25, 247, 247);
            }
        
}

.text-style{
    position: absolute;
    width: 100%;
    height: 100px;
    top: 80%;
}

.content-images{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 60vh;
    text-align: center;
}
.text{
    padding: 2rem 20rem;
    font-size: 1.1rem;
}
#joker {
    width: 300px;
    transition: width 2s ease-in;
    cursor: pointer;
    

}

#bat{
    width: 600px;
    cursor: pointer;
    transition: width 2s ease-in;

}

 #bat:hover{
     width: 800px;
     cursor: pointer;
     transition: width 2s ease-in;

}
#joker:hover{
    width: 400px;
    cursor: pointer;
    transition: width 2s ease-in;
    animation-delay: 2s;

}
.logo{
    position: absolute;
    width: 100%;
    height: 100vh;
    display: block;
    //background-color: rgb(11, 55, 68);
    z-index: 2;
    // transition: all 3s ease-out ;
    opacity: 1;
    animation: startanim 5s ease-out ;
    background-color: #2d3436;
    background-image: linear-gradient(315deg, #2d3436 0%, #000000 74%);
    
}
.logo img{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-60%);
    transition: top 2s ease-in-out;
    animation: logoanim 5s ease-in-out;
}
@keyframes startanim {
    
    0%{
        opacity: 1;
    }
    25%{
        opacity: 0.9;
    }
    45%{
        opacity: 0.8;
    }
    65%{
        opacity: 0.6;
    }
    85%{
        opacity: 0.3;
    }
    100%{
        opacity: 0;
    }
    
}
@keyframes logoanim {
    from{
        top: 60%;
        transform: translate(-50%,-60%);
     }
    to{ 
        top: 30%;
        transform: translate(-50%,-30%);
    }

    
}